<style>
a[href^="https://"] {
  background: url(https://cdn1.netlify.com/img/icons8-external-link-18.png) center right no-repeat;
  padding-right: 18px;
}
</style>
<style>
a[href^="//"] {
  background: url(https://cdn1.netlify.com/img/icons8-external-link-18.png) center right no-repeat;
  padding-right: 18px;
}
</style>
<style>
a[href$=".xls"], a[href$=".XLS"], a[href$=".xlsx"], a[href$=".XLSX"] {
  background: url(https://upload.wikimedia.org/wikipedia/commons/b/ba/Page_white_excel.png) center right no-repeat;
  padding-right: 18px;
}
</style>
<style>
a[href$=".pdf"], a[href$=".PDF"] {
  background: url(https://cdn1.netlify.com/img/icons8-pdf-18.png) center right no-repeat;
  padding-right: 18px;
}
</style>